@use './mixins' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: rgb(43, 43, 43);
	font-family: 'Nanum Myeongjo', serif;
	color: rgb(228, 227, 214);
	display: flex;
	flex-direction: column;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	background-color: rgb(228, 227, 214);
	padding-inline: 100px;
	padding-block: 30px;
	border-radius: 30px;

	@include view(tablet) {
		padding-inline: 70px;
	}

	@include view(mobile) {
		padding-inline: 40px;
	}
}

.container {
	background-image: url(../assets/bbq-bgc.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

.nav {
	display: flex;
	justify-content: center;
	padding: 20px;

	&__links {
		display: grid;
		gap: 10px;
		grid-template-columns: 1fr 1fr 1fr;

		@include view(small-mobile) {
			gap: 5px;
			grid-template-columns: 1fr 1fr;
		}
	}

	&__link {
		text-align: center;
		font-size: 30px;
		color: rgb(228, 227, 214);
		text-decoration: none;
		padding: 10px;
		transition: scale 0.3s;
		text-transform: uppercase;
		cursor: pointer;

		@include view(small-mobile) {
			font-size: 25px;
		}

		&--span {
			@include view(small-mobile) {
				grid-column: span 2;
			}
		}

		&:hover {
			scale: 1.1;
		}
	}
}

.header {
	justify-content: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&__texts {
		width: fit-content;
		display: flex;
		flex-direction: column;
	}

	&__texts-title {
		text-align: center;
		font-size: 150px;
		font-weight: 400;
		text-transform: uppercase;

		@include view(tablet) {
			font-size: 120px;
		}

		@include view(mobile) {
			font-size: 80px;
		}

		@include view(small-mobile) {
			font-size: 50px;
		}
	}

	&__texts-subtitle {
		font-size: 40px;

		@include view(tablet) {
			font-size: 35px;
		}

		@include view(small-mobile) {
			font-size: 25px;
		}
	}
}

.section {
	color: rgb(39, 39, 39);
	padding: 30px;
	margin-bottom: 40px;
	overflow-y: scroll;

	@include view(small-mobile) {
		padding: 20px;
	}
}

.menu {
	&__header, &__title {
		text-transform: uppercase;
		text-align: center;
	}

	&__title {
		font-size: 50px;
		color: rgb(126, 111, 25);

		@include view(small-mobile) {
			font-size: 30px;
		}
	}

	&__header {
		font-size: 35px;
		font-style: italic;

		@include view(small-mobile) {
			font-size: 20px;
		}
	}

	&__dishes {
		margin-block: 30px;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	&__dish {
		display: flex;
		gap: 30px;
		align-items: center;

		@include view(mobile) {
			gap: 10px;
			flex-direction: column;
		}
	}

	&__dish-text {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 30px;
		line-height: 1.2;

		@include view(small-desktop) {
			font-size: 26px;
		}

		@include view(tablet) {
			font-size: 20px;
		}

		@include view(mobile) {
			font-size: 18px;
		}

		@include view(small-mobile) {
			font-size: 16px;
		}
	}

	&__dish-img {
		height: 260px;
		object-fit: cover;
		border-radius: 50px 0 0 50px;

		@include view(tablet) {
			height: 220px;
		}

		@include view(mobile) {
			border-radius: 50px 50px 0 50px;
			width: 100%;
			height: auto;
		}

		&--right {
			order: 2;
			border-radius: 0 50px 50px 0;

			@include view(mobile) {
				border-radius: 50px 50px 50px 0;
				order: 0;
			}
		}
	}
}

.contact {
	&__header, &__title {
		text-transform: uppercase;
		text-align: center;
	}

	&__title {
		font-size: 50px;
		color: rgb(126, 111, 25);

		@include view(small-mobile) {
			font-size: 30px;
		}
	}

	&__header {
		font-size: 35px;
		font-style: italic;

		@include view(small-mobile) {
			font-size: 20px;
		}
	}

	&__box {
		margin-block: 65px;
		display: grid;
		justify-content: center;
		grid-template-columns: minmax(200px, 400px) minmax(200px, 400px);
		row-gap: 70px;

		@include view (mobile) {
			grid-template-columns: 1fr;
		}
	}

	&__box-single {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-weight: 600;
		letter-spacing: 1px;
		line-height: 1.2;

		&--span {
			grid-column: span 2;

			@include view (mobile) {
				grid-column: auto;
			}
		}
	}

	&__box-header {
		text-align: center;
		font-size: 30px;
		text-transform: uppercase;
		position: relative;
		margin-bottom: 20px;

		&::after {
			content: '';
			position: absolute;
			bottom: -5px;
			left: 50%;
			transform: translateX(-50%);
			width: 80%;
			height: 3px;
			background-color: rgb(126, 111, 25);
		}
	}

	&__box-info {
		font-size: 22px;
	}
}